//
// Tables
// --------------------------------------------------

.table {
  thead th {
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
  }
}

.table-vcenter {
  th,
  td {
    vertical-align: middle;
  }
}
