//
// Custom Main
//
// Added own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Core functions/mixins/styles etc
// --------------------------------------------------
@import "table";

.primary-light {
  background: $text-link-light !important;
}

.primary-dark {
  background: $text-link-light !important;
}

.bg-body-light {
  background: $bg-body-light !important;
}

.bg-body-dark {
  background: $bg-body-dark !important;
}

.bg-block-light {
  background: $white !important;
}

.bg-light {
  background: $light-white !important;
}

.bg-block-dark {
  background: #0a2540 !important;
}

//.text-muted-light {
//  color: rgba(87, 87, 87, 0.7) !important;
//  font-weight: bold;
//}
//
//.text-muted-dark {
//  color: rgba(255, 255, 255, 0.5) !important;
//  font-weight: bold;
//}

.headings-light {
  color: $headings-color-light !important;
}

.headings-dark {
  color: $headings-color-dark !important;
}

.text-body-light {
  color: rgba(87, 87, 87, 0.85) !important;
  font-weight: bold;
}

.text-body-dark {
  color: rgba(255, 255, 255, 0.7) !important;
  font-weight: bold;
}

.text-light {
  color: $text-color-light !important;
}

.text-dark {
  color: $text-color-dark !important;
}

.text-primary-light {
  color: $primary !important;
}

.text-primary-dark {
  color: $primary-dark !important;
}

.label-muted-light {
  color: $text-muted-light !important;
}

.label-active-light {
  color: $text-color-light !important;
}

.label-muted-dark {
  color: $dropdown-light !important;
}

.label-active-dark {
  color: $text-color-dark !important;
}

.text-red {
  color: $text-error-dark !important;
  font-weight: 700 !important;
}

.text-link-light {
  color: $primary;
  text-decoration: underline;
  cursor: pointer;
}

.text-link-dark {
  color: $primary-dark;
  text-decoration: underline;
  cursor: pointer;
}

.text-link-muted-light {
  color: $gray-border-dark;
  text-decoration: underline;
  cursor: pointer;
}

.text-link-muted-dark {
  color: $gray-border;
  text-decoration: underline;
  cursor: pointer;
}

.text-muted-light {
  color: $text-muted-light !important;
}

.text-muted-dark {
  color: $text-muted-dark !important;
}

.block-light-blue-light {
  background-color: $block-bg-blue !important;
  border: $block-border-blue 1px solid !important;
}

.block-light-blue-dark {
  background-color: $modal-backdrop-bg !important;
  border: $modal-backdrop-bg 1px solid !important;
}
.alert-info-light {
  border: 1px $text-info-light solid !important;
  background: $bg-info-light;
  border-radius: 8px;
  padding: 1rem;
  color: $text-info-light;
}

.alert-info-dark {
  border: 1px $primary-dark solid !important;
  background: rgba($gray-border-dark, 0.5);
  border-radius: 8px;
  padding: 1rem;
  color: $primary-dark;
}

.alert-error-light {
  border: 1px $text-error-light solid !important;
  background: $bg-error-light;
  border-radius: 8px;
  padding: 0.5rem;
  color: $text-error-light;
}

.alert-error-dark {
  border: 1px $text-error-dark solid !important;
  background: rgba($bg-error-dark, 0.5);
  border-radius: 8px;
  padding: 0.5rem;
  color: $text-error-dark;
}

.alert-warning-light {
  border: 1px $text-warning-light solid !important;
  background: $bg-warning-light;
  border-radius: 8px;
  padding: 0.5rem;
  color: $text-warning-light;
}

.alert-warning-dark {
  border: 1px $text-warning-dark solid !important;
  background: rbga($bg-warning-dark, 0.2);
  border-radius: 8px;
  padding: 0.5rem;
  color: $text-warning-dark;
}

.badge-light {
  color: $primary;
  background: $bg-btn-outline-light;
}

.badge-dark {
  color: black;
  background: $primary-dark;
  opacity: 0.65;
}

.percentage-negative {
  color: $text-error-light;
}
.percentage-positive {
  color: $percentage-positive-light;
}

.progress-bar {
  background-color: $percentage-positive-light;
}

.cursor {
  cursor: pointer;
}

// Block Modes
.block {
  &.block-mode-loading {
    > .block-header,
    > .block-content,
    > .nav-tabs {
      opacity: 0;
    }
    &::after {
      content: "";
      background: url("../media/icons/circle-notch.svg") no-repeat 50% 50%;
      background-size: 24px;
    }
  }

  &.block-shadow {
    box-shadow: 0 2px 22px 0 rgba(15, 89, 209, 0.12),
      0 2px 19px 0 rgba(82, 105, 141, 0.12);
  }

  &.block-shadow-light {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04),
      0 1px 2px 0 rgba(15, 89, 209, 0.08);
  }
}

.bn-onboard-modal {
  font-family: "Arial" !important;
}
.bn-onboard-modal-content {
  font-family: "Arial" !important;
}

.bn-onboard-custom.bn-onboard-modal {
  z-index: 99;
}

.btn {
  font-weight: 500;
  font-size: 14px;
  &.block-rounded {
    border-radius: $border-radius !important;
  }

  &.btn-outline-gray {
    color: $text-color-light !important;
  }

  &.btn-outline-gray-dark {
    color: $text-color-dark !important;
  }

  &.btn-circle-gray {
    color: $text-color-light !important;
    border-color: $gray-placeholder !important;
    border-radius: $border-radius-circle !important;
  }

  &.btn-circle-gray-dark {
    color: $text-color-dark !important;
    border-color: $light-white !important;
    border-radius: $border-radius-circle !important;
  }

  &.btn-outline-gray-dark:hover {
    color: $text-color-light !important;
  }

  &.btn-outline-alt-light {
    color: $text-color-light !important;
    border-color: $gray-placeholder !important;
    background-color: $bg-body-light !important;
  }
  &.btn-outline-alt-dark {
    color: $light-white !important;
    border-color: $light-white !important;
    background-color: $bg-body-dark !important;
  }
  &.btn-outline-alt-light:hover {
    color: $text-color-light !important;
    border-color: $gray-placeholder !important;
    background-color: $bg-body-light !important;
  }
  &.btn-outline-alt-dark:hover {
    color: $bg-body-dark !important;
    border-color: $bg-body-dark !important;
    background-color: $light-white !important;
  }
  &.btn-outline-primary {
    background-color: $bg-btn-outline-light !important;
    color: $text-color-light !important;
  }
  &.btn-outline-primary-dark {
    background-color: $text-color-light !important;
    color: $text-muted-light !important;
    opacity: 0.6;
    border: 1px solid $primary !important;
  }
  &.btn-outline-primary:hover {
    background-color: $bg-btn-outline-light !important;
    color: $text-color-light !important;
  }
  &.btn-outline-primary-dark:hover {
    background-color: $bg-btn-outline-dark !important;
    color: $text-color-dark !important;
  }
  &.btn-muted-white-light {
    color: $text-muted-light !important;
    border-color: $gray-placeholder !important;
    background-color: white !important;
  }
  &.btn-muted-light {
    color: $gray-placeholder !important;
    border-color: $gray-placeholder !important;
    background-color: $bg-body-light !important;
  }
  &.btn-muted-dark {
    color: $gray-placeholder-dark !important;
    border-color: $gray-placeholder-dark !important;
    background-color: $gray-border-dark !important;
  }
  &.btn-muted-alt-dark {
    color: $gray-placeholder-dark !important;
    border-color: $gray-placeholder-dark !important;
    background-color: $bg-body-dark !important;
  }
  &.btn-active-light {
    color: $text-color-light !important;
    border-color: $text-color-light !important;
    background-color: $bg-body-light !important;
  }
  &.btn-active-dark {
    color: $text-color-dark !important;
    border-color: $text-color-dark !important;
    background-color: $bg-body-dark !important;
  }
  &.btn-active-alt-light {
    color: white !important;
    background-color: $bg-active-light !important;
  }
  &.btn-active-alt-dark {
    color: white !important;
    background-color: $gray-border-dark !important;
  }
  &.btn-primary:focus {
    box-shadow: none !important;
  }
  &.btn-outline-dark {
    color: $light-white !important;
    border-color: $light-white !important;
    background-color: $bg-body-dark !important;
  }
  &.btn-outline-light {
    color: $primary !important;
    border-color: $gray-placeholder !important;
    background-color: $bg-body-light !important;
  }
  &.btn-outline-light-alt {
    color: $text-color-light !important;
    border-color: $gray-placeholder !important;
    background-color: white !important;
  }
  &.btn-outline-dark:hover {
    background-color: $light-white !important;
    color: $bg-body-dark !important;
  }
  &.btn-outline-light:hover {
    background-color: $primary !important;
    color: $light-white !important;
    border-color: $primary !important;
  }
  &.btn-outline-light-alt:hover {
    color: $text-color-light !important;
    border-color: $gray-placeholder !important;
    background-color: white !important;
  }
  &.btn-error {
    color: white !important;
    background-color: $text-error-light !important;
  }
}

.modal .modal-content {
  border-radius: $border-radius !important;
}

.form-control-alt-light,
.form-control-alt-dark {
  height: 48px;
  background-color: transparent !important;
  font-size: 15px;
}

.form-control-alt-light {
  border: 1px solid $gray-border !important;

  &::placeholder {
    color: $gray-placeholder;
    opacity: 1; /* Firefox */
  }
}

.form-control-alt-dark {
  border: 1px solid $gray-border-dark !important;

  &::placeholder {
    color: $gray-placeholder-dark;
    opacity: 1; /* Firefox */
  }
}

.custom-tabs {
  .nav-tabs {
    border-bottom: none !important;
    font-size: 14px !important;
    font-weight: 600 !important;

    .nav-link {
      margin-right: 5px !important;
      margin-left: 20px !important;
    }
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    background: none !important;
    border: none !important;
  }

  .nav-tabs .nav-link {
    color: $text-muted-light !important;
    border: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
    margin-bottom: 1px;
  }
}

.tabs-light {
  @extend .custom-tabs;

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: $primary !important;
    border-bottom: 2px solid $primary !important;
  }
}

.tabs-dark {
  @extend .custom-tabs;

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
  }
}

.large-tabs-light {
  .nav-tabs {
    border: white;
    font-size: 20px !important;
    font-weight: 600 !important;
  }
  .nav-tabs .nav-link {
    color: $text-muted-light;
    background: $gray-border;
    border-bottom: 0px;
  }
  .nav-link.active {
    color: $text-color-light;
    background: white;
    border: white;
    padding: 10px 20px;
  }
}

.large-tabs-dark {
  .nav-tabs {
    border: $bg-body-dark;
    font-size: 20px !important;
    font-weight: 600 !important;
  }
  .nav-tabs .nav-link {
    color: $text-muted-dark;
    background: $gray-border-dark;
    border-bottom: 0px;
  }
  .nav-link.active {
    color: $text-color-dark;
    background: $text-color-light;
    border: $text-color-light;
    padding: 10px 20px;
  }
}

.border-gray {
  border: 1px solid $gray-border !important;
}

.border-gray-dark {
  border: 1px solid $gray-border-dark !important;
}

.pagination {
  .page-item,
  .page-item.active,
  .page-item:hover,
  .page-link,
  .page-link.active,
  .page-link:hover {
    border: none !important;
    background-color: transparent !important;
  }
}

.logo-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px $gray-border;
}

.max-search-width-xs {
  @media (max-width: 768px) {
    width: 120px !important;
  }
}

.progress {
  height: 4px !important;
}

.form-control-date {
  height: 35px !important;
  width: 220px !important;
  border: 1px solid transparent !important;
  border-radius: 8px !important;
  padding: 0.375rem 0.75rem;
  cursor: pointer;

  &.date-range-light {
    color: $text-muted-light !important;
    background-color: $white !important;
    border-color: $gray-placeholder !important;
  }
  &.date-range-light-active {
    color: $text-color-light !important;
    border-color: $text-color-light !important;
    background-color: $bg-body-light !important;
  }

  &.date-range-dark {
    color: $gray-placeholder-dark !important;
    background-color: $gray-border-dark !important;
    border-color: $gray-placeholder-dark !important;
  }
  &.date-range-dark-active {
    color: $text-color-dark !important;
    border-color: $text-color-dark !important;
    background-color: $bg-body-dark !important;
  }
}

.date-range-picker-light {
  .daterangepicker {
    &.dropdown-menu {
      background: $bg-body-light !important;
    }
  }
  .calendar-table {
    background: $bg-body-light !important;
    border-radius: 8px !important;
    border-color: $bg-body-light !important;
  }
  .drp-calendar {
    background: $bg-body-light !important;
    border-radius: 8px !important;
    border-color: $bg-body-light !important;
  }
  thead {
    background: $bg-body-light !important;
    th {
      background: $bg-body-light !important;
      color: $text-color-light !important;
    }
  }
  tbody {
    color: $text-color-light !important;
    tr {
      background: $bg-body-light !important;
    }
    td {
      background: $bg-body-light !important;
    }
    th {
      background: $bg-body-light !important;
      color: $text-color-light !important;
    }
    .in-range {
      background: $bg-btn-outline-light !important;
      color: $primary !important;
    }
    .active {
      background: $primary !important;
      color: white !important;
    }
  }
}

.date-range-picker-dark {
  .daterangepicker {
    &.dropdown-menu {
      background: $bg-body-dark !important;
    }
  }
  .calendar-table {
    background: $bg-body-dark !important;
    border-radius: 8px !important;
    border-color: $bg-body-dark !important;
  }
  .drp-calendar {
    background: $bg-body-dark !important;
    border-radius: 8px !important;
    border-color: $bg-body-dark !important;
  }
  thead {
    background: $bg-body-dark !important;
    th {
      background: $bg-body-dark !important;
      color: $text-color-dark !important;
    }
  }
  tbody {
    color: $text-color-dark !important;
    tr {
      background: $bg-body-dark !important;
    }
    td {
      background: $bg-body-dark !important;
    }
    th {
      background: $bg-body-dark !important;
      color: $text-color-dark !important;
      font-weight: 800 !important;
    }
    .in-range {
      color: $bg-body-dark !important;
      background: $primary-dark !important;
      opacity: 0.65 !important;
    }
    .active {
      background: $primary !important;
      color: white !important;
    }
  }
}

.dropdown-item-light {
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-top: 5px !important;
  a {
    color: $text-muted-light !important;
    background-color: white !important;
  }
  a:hover {
    color: $primary !important;
    background-color: $bg-btn-outline-light !important;
  }
}

.dropdown-item-dark {
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-top: 5px !important;
  a {
    color: $dropdown-light !important;
    background-color: $dropdown-dark !important;
  }
  a:hover {
    color: white !important;
    background-color: $bg-btn-outline-dark !important;
  }
}

.checkbox-dark {
  .custom-control-label::before {
    border-radius: 2px;
  }

  .custom-control-input:checked {
    ~ .custom-control-label::before {
      background-color: $dropdown-dark;
      border-color: white;
    }
  }
}

.checkbox-light {
  .custom-control-label::before {
    border-radius: 2px;
  }
  .custom-control-input:checked {
    ~ .custom-control-label::before {
      background-color: $primary;
      border-color: $text-muted-light;
    }
  }
}

.limited-dropdown {
  .dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
  }
}

.limited-dropdown-settings {
  .dropdown-menu {
    max-height: 420px;
    width: 300px;
    overflow-y: auto;
  }
}

.full-dropdown {
  .dropdown-menu {
    width: 100%;
  }
}

.custom-input-active {
  background-color: $primary !important;
  color: white !important;
  border: 1px solid white !important;
}

.custom-input-active-borderless {
  background-color: $primary !important;
  color: white !important;
}

.icon-primary {
  background-color: $primary !important;
  border-radius: 36px !important;
  border: 8px solid $primary !important;
  color: white !important;
}

.icon-primary-light {
  background-color: white !important;
  border-radius: 6px !important;
  border: 1px solid $primary !important;
  padding: 3px;
  color: $primary !important;
}

.icon-primary-dark {
  background-color: $dropdown-dark !important;
  border-radius: 6px !important;
  border: 1px solid $primary-dark !important;
  padding: 3px;
  color: $primary-dark !important;
}

.seperator-dark {
  margin-bottom: 1rem;
  border: 1px solid $gray-border-dark;
}

.seperator-light {
  margin-bottom: 1rem;
  border: 1px solid $gray-border;
}

.full-modal .modal {
  padding: 0 !important;
}
.full-modal .modal-dialog {
  max-width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}
.full-modal .modal-dialog-scrollable {
  max-height: 100% !important;
}
.full-modal .dialog-centered {
  max-height: 100% !important;
}

.full-modal .modal-content {
  border: 0 !important;
  border-radius: 0 !important;
  height: 100% !important;
}
