//
// Custom Main
//
// Added own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Core functions/mixins/styles etc
// --------------------------------------------------
@import "table";

.primary-light {
  background: $text-link-light !important;
}

.primary-dark {
  background: $text-link-light !important;
}

.bg-body-light {
  background: #f8f9fd !important;
}

.bg-body-dark {
  background: #1c344e !important;
}

.bg-block-light {
  background: $white !important;
}

.bg-light {
  background: #eeeeee !important;
}

.bg-block-dark {
  background: #0a2540 !important;
}

//.text-muted-light {
//  color: rgba(87, 87, 87, 0.7) !important;
//  font-weight: bold;
//}
//
//.text-muted-dark {
//  color: rgba(255, 255, 255, 0.5) !important;
//  font-weight: bold;
//}

.headings-light {
  color: $headings-color-light !important;
}

.headings-dark {
  color: $headings-color-dark !important;
}

.text-body-light {
  color: rgba(87, 87, 87, 0.85) !important;
  font-weight: bold;
}

.text-body-dark {
  color: rgba(255, 255, 255, 0.7) !important;
  font-weight: bold;
}

.text-light {
  color: $text-color-light !important;
}

.text-dark {
  color: $text-color-dark !important;
}

.text-red {
  color: $text-error-dark !important;
  font-weight: 700 !important;
}

.text-muted-light {
  color: $text-muted-light !important;
}

.text-muted-dark {
  color: $text-muted-dark !important;
}

.text-link-light {
  color: $text-link-light !important;
}

.text-link-dark {
  color: $text-link-dark !important;
}

.block-light-blue-light {
  background-color: $block-bg-blue !important;
  border: $block-border-blue 1px solid !important;
}

.block-light-blue-dark {
  background-color: $modal-backdrop-bg !important;
  border: $modal-backdrop-bg 1px solid !important;
}
.alert-info-light {
  border: 1px $text-info-light solid !important;
  background: $bg-info-light;
  border-radius: 8px;
  padding: 1rem;
  color: $text-info-light;
}

.alert-info-dark {
  border: 1px $text-info-dark solid !important;
  background: $bg-info-dark;
  border-radius: 8px;
  padding: 1rem;
  color: $text-info-dark;
}

.alert-error-light {
  border: 1px $text-error-light solid !important;
  background: $bg-error-light;
  border-radius: 8px;
  padding: 0.5rem;
  color: $text-error-light;
}

.alert-error-dark {
  border: 1px $text-error-dark solid !important;
  background: $bg-error-dark;
  border-radius: 8px;
  padding: 0.5rem;
  color: $text-error-dark;
}


.alert-warning-light {
  border: 1px $text-warning-light solid !important;
  background: $bg-warning-light;
  border-radius: 8px;
  padding: 0.5rem;
  color: $text-warning-light;
}

.alert-warning-dark {
  border: 1px $text-warning-dark solid !important;
  background: $bg-warning-dark;
  border-radius: 8px;
  padding: 0.5rem;
  color: $text-warning-dark;
}

.cursor {
  cursor: pointer;
}

// Block Modes
.block {
  &.block-mode-loading {
    > .block-header,
    > .block-content,
    > .nav-tabs {
      opacity: 0;
    }
    &::after {
      content: "";
      background: url("../media/icons/circle-notch.svg") no-repeat 50% 50%;
      background-size: 24px;
    }
  }

  &.block-shadow {
    box-shadow: 0 2px 22px 0 rgba(15, 89, 209, 0.12),
      0 2px 19px 0 rgba(82, 105, 141, 0.12);
  }

  &.block-shadow-light {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04),
      0 1px 2px 0 rgba(15, 89, 209, 0.08);
  }
}

.bn-onboard-modal {
  font-family: "Arial" !important;
}
.bn-onboard-modal-content {
  font-family: "Arial" !important;
}

.bn-onboard-custom.bn-onboard-modal {
  z-index: 99;
}

.btn {
  &.block-rounded {
    border-radius: $border-radius !important;
  }

  &.btn-outline-gray {
    color: $text-color-light !important;
  }

  &.btn-outline-gray-dark {
    color: $text-color-dark !important;
  }
}

.modal .modal-content {
  border-radius: $border-radius !important;
}

.form-control-alt-light,
.form-control-alt-dark {
  height: 48px;
  background-color: transparent !important;
  font-size: 15px;
}

.form-control-alt-light {
  border: 1px solid $gray-border !important;

  &::placeholder {
    color: $gray-placeholder;
    opacity: 1; /* Firefox */
  }
}

.form-control-alt-dark {
  border: 1px solid $gray-border-dark !important;

  &::placeholder {
    color: $gray-placeholder-dark;
    opacity: 1; /* Firefox */
  }
}

.custom-tabs {
  .nav-tabs {
    border-bottom: none !important;
    font-size: 14px !important;
    font-weight: 600 !important;

    .nav-link {
      margin-right: 5px !important;
      margin-left: 20px !important;
    }
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    background: none !important;
    border: none !important;
  }

  .nav-tabs .nav-link {
    color: $text-muted-light !important;
    border: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
    margin-bottom: 1px;
  }
}

.tabs-light {
  @extend .custom-tabs;

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: $primary !important;
    border-bottom: 2px solid $primary !important;
  }
}

.tabs-dark {
  @extend .custom-tabs;

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
  }
}

.border-gray {
  border: 1px solid $gray-border !important;
}

.border-gray-dark {
  border: 1px solid $gray-border-dark !important;
}


.pagination {
  .page-item, .page-item.active, .page-item:hover, .page-link, .page-link.active, .page-link:hover {
    border: none !important;
    background-color: transparent !important;
  }

}

.logo-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px $gray-border;
}

.max-search-width-xs {
  @media (max-width: 768px) {
    width: 120px !important;
  }
}