//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $dark: #324856;
$primary: #0f59d1 !default;
$gray-border: #e6ebf2 !default;
$gray-border-dark: #1f3a55 !default;

$gray-placeholder: #d0d7df;
$gray-placeholder-dark: #516175;

$light-white: #eeeeee;
$primary-dark: #86b0f4;

$dropdown-light: #97a5b8;
$dropdown-dark: #0a2540;

$border-radius: 8px;
$border-radius-circle: 20px;
$modal-sm: 379px;

$modal-backdrop-bg: #1d3144;
$modal-backdrop-opacity: 0.7;

$text-color-light: #0a2540;
$text-color-dark: #cdd1d6;

$headings-color-light: #373737;
$headings-color-dark: #ffffff;

$text-muted-light: #6b7c93;
$text-muted-dark: #cdd1d6;

$text-link-light: $primary;
$text-link-dark: $primary;

$text-info-light: $primary;
$text-info-dark: $primary;

$text-error-light: #de4a5c;
$text-error-dark: #de4a5c;

$percentage-positive-light: #3ec8c8;

$bg-body-dark: #1c344e;
$bg-body-light: #f8f9fd;

$bg-active-light: #244185;

$bg-error-light: rgba($text-error-light, 0.1);
$bg-error-dark: #242942;

$bg-info-light: rgba($text-info-light, 0.1);
$bg-info-dark: rgba($text-info-light, 0.1);

$bg-btn-outline-light: #e9f2fd;
$bg-btn-outline-dark: #0a316e;

$text-warning-light: #f6ab30;
$text-warning-dark: #f6ab30;

$bg-warning-light: #fff8ed;
$bg-warning-dark: #423a24;

$block-bg-blue: #f7f9fc;
$block-bg-blue-dark: #1c344e;

$block-border-blue: $gray-border;

$block-header-gray: #e7ebf1;
$block-header-gray-dark: #e7ebf1;

// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Table sorting
$b-table-sort-icon-bg-width: 0.65em !default;
$b-table-sort-icon-bg-height: 1em !default;
// Sort icons are square, but "squished" horizontally by the above variables
$b-table-sort-icon-bg-descending: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path fill='#0F59D1' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/></svg>") !default;
$b-table-sort-icon-bg-ascending: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path fill='#0F59D1' d='M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z'/></svg>") !default;
// Icons to use on dark table or dark header/footer (lighter color icons)
// We simply just replace the fill color 'black' white 'white'
$b-table-sort-icon-bg-dark-descending: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path fill='#FFFFFF' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/></svg>") !default;
$b-table-sort-icon-bg-dark-ascending: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path fill='#FFFFFF' d='M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z'/></svg>") !default;
