//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $dark: #324856;
$primary: #0f59d1 !default;
$gray-border: #e6ebf2 !default;
$gray-border-dark: #1f3a55 !default;

$border-radius: 10px;
$modal-sm: 379px;

$modal-backdrop-bg: #1d3144;
$modal-backdrop-opacity: 0.7;

$text-color-light: #0a2540;
$text-color-dark: #cdd1d6;

$text-muted-light: #6b7c93;
$text-muted-dark: #cdd1d6;

$text-link-light: $primary;
$text-link-dark: $primary;

$text-info-light: $primary;
$text-info-dark: $primary;

$text-error-light: #de4a5c;
$text-error-dark: #de4a5c;

$bg-error-light: rgba($text-error-light, 0.1);
$bg-error-dark: rgba($text-error-light, 0.1);

$bg-info-light: rgba($text-info-light, 0.1);
$bg-info-dark: rgba($text-info-light, 0.1);

$block-bg-blue: #f7f9fc;
$block-border-blue: $gray-border;
